# IDE
.idea/
*/flycheck*
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath
.metals/
.bsp/
.bazelbsp/

# Tools
pyrefly.toml

# OS
.DS_Store
Thumbs.db

# Databricks
.databricks

# Scratch
.temp

# Docker
mount/*

# Credentials
.env